h4 {
    padding: 8px;
    margin: 0;
    color: white;
}
.option {
    margin-bottom: 12px;
    border: 3px solid transparent;
    width: fit-content;
    color: white;
}
.option:hover {
    padding: 0;
    
    cursor: pointer;
    border: 3px solid #1111c0;
    border-radius: 8px;
}