.sliderForm {
    
    align-items: flex-start;
    background-color: #2f2f2f;
    border-radius: 16px;
    width: 1000px;
}

.buttonRow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.ol {
    text-align: start;
    list-style-type: decimal;
    
}
.li {
    font-weight: 600;
    font-size: 26px;
    color: aliceblue;

}
.custom-date-input {
    border: 1px solid #ccc;
    background-color: #3b3b3a;
    color: white;
}