/* src/components/TextInput.css */
.text-input {
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;  /* Ensure full width or adjust to your needs */
    font-size: 16px;
    box-sizing: border-box;  /* Ensure padding is included in width */
    background-color: #3b3b3a;
    color: white;
  }